*.jpg
*.pth
__pycache__
*.so
*.egg-info
build
dist
cache
logs
.vscode

data/scannet/instance_mask
data/scannet/semantic_mask
data/scannet/super_points
data/scannet/scannet_instance_data
data/scannet/points
data/scannet200
data/features_2d
checkpoint
pretrained_backbone
visualizations*